<!DOCTYPE html>
<html lang="en">

    <!DOCTYPE html>
    <html lang="en">
    
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>Mars Data</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    </head>

    <body>
        <div class="container-fluid">
          <div class="jumbotron text-center">
            <h1>Mission to Mars</h1>
            <p>click below to visit</p>
            <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Get Data</a></p>
            </div>
        </div>
        <div class="modal-body row">
            <div class="col-md-6">
                <h2>Latest Mars News:</h2>
                    <br>
                        <h4>{{data.news_title}}</h4>
                        <p>{{data.news_desc}}</p>
                        <br>
                            <h2>Featured Mars Image</h2>
                            <img src="{{ data.featured_image }}" alt="Mars">
                            <h2>Mars vs Earth</h2>
                <table class = 'table'>
                    {{data.facts_table|safe}}

                </table>
            </div>
            <div class="col-md-6 center">
          </br>
          {% for i in range(2) %}
          <div class="col-lg-6">
                 <img src = "{{ data.hemisphere_images[i]['img_url'] }}"  width= "80%"; margin = "auto";  display =  "block";>
                
                <h4>{{ data.hemisphere_images[i]['title'] }}</h4>
            </div>
            {% endfor %}

            {% for i in range(2,4) %}
          <div class="col-lg-6">
                 <img src = "{{ data.hemisphere_images[i]['img_url'] }}"  width= "80%"; margin = "auto";  display =  "block";>
                
                <h4>{{ data.hemisphere_images[i]['title'] }}</h4>
            </div>
            {% endfor %}
               
        </div>
    </div>
    
      </body>